<h2>{{message}}</h2>
<section ng-hide="playlist">
    <h1>Playlist</h1>

    <table class="u-full-width">
      <tbody>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Account_ID</th>
        <th>&nbsp;</th>     
        </tr>
        <tr ng-repeat="song in songs">
          <td>{{song.title}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.account_id}}</td>
          <td> <button ng-click="showLyric(song.id)">PLAY</button></td>
        </tr>
      </tbody>
    </table>

    <button ng-click="changeRoute()">Add Songs</button>
</section>



