<!DOCTYPE html>
<html ng-app="karaokeApp">
  <head>
    <title>Karaoke API</title>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/app.UserCtrl.js"></script>
    <script src="/javascripts/app.AddSongCtrl.js"></script>
    <script src="/javascripts/app.SongsCtrl.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    
  <h1>Index View</h1>
  <div ng-view></div>

  
  

  </body>
</html>
