<!DOCTYPE html>
<html ng-app="karaokeApp">
  <head>
    <title>Karaoke API</title>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/app.UserCtrl.js"></script>
    <script src="/javascripts/app.AddSongCtrl.js"></script>
    <script src="/javascripts/app.SongsCtrl.js"></script>
    <script src="/javascripts/app.LyricsCtrl.js"></script>
    <script src="/javascripts/app.ScoreCtrl.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user">Users</a></li>
      <li><a href="/add">Add Song</a></li>
      <li><a href="/songs">Song List</a></li>
      <li><a href="/scores">View the Scores</a></li>
    </ul>
    <hr>
  </header>
    
  <h1>Index View</h1>
  <div ng-view></div>

 
  </body>
</html>
